BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never
ColumnLimit: 0

PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterNamespace: false
  AfterFunction: true
  AfterControlStatement: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

SortIncludes: false

NamespaceIndentation: None
FixNamespaceComments: true
Cpp11BracedListStyle: true
